.navbar {
    background-color: var(--primary-100);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    color: var(--primary-300);
}

.cats-container {
    width: 100%;
}

.cats-list {
    margin: 0 3rem;
    display: flex;
    justify-content: space-evenly;
}

.category {
    padding: 7px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--bg-300);
    color: var(--text-100);
    border-radius: 5px;
}